.empty-cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #818181;
  }
  
  .empty-cart-head p {
    font-size: 20px;
  }
  
  .empty-cart-head span {
    cursor: pointer;
  }
  
  .empty-cart-products-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 400px;
    border-bottom: 1px solid #818181;
    
  }


  
  .empty-cart-img img {
    width: 120px;
  }
  
  .img-content {
    text-align: center;
  }
  
  .cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 240px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    padding: 10px;
    /* width: 200px;   */
    max-height: 200px;
    overflow: auto;
    /* flex-wrap: wrap; */
  }
  
  .cart-item img {
    max-width: 45%;
  }
  
  .quantity-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100px;
  }
  
  .quantity-controls button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #02b290;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .quantity-controls button:hover {
    background-color: #02897f;
  }
  
  .quantity-controls span {
    font-size: 16px;
  }
  
  .empty-cart-foot {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .empty-cart-foot p {
    font-size: 14px;
  }
  
  .empty-cart-foot-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .empty-cart-foot-head p {
    font-size: 18px;
  }
  
  .empty-cart-foot-head span {
    font-size: 18px;
  }
  
  .empty-cart-button {
    text-align: center;
  }
  
  .empty-cart-button button {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #02b290;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
  }
  .empty-cart-button button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .empty-cart-button button:disabled:hover {
    background-color: #ccc;
  }
  
  